.--zoom-out {
  animation: zoom-out 2s ease-in-out forwards;
}

.--zoom-out-scroll {
  animation: zoom-out 1s ease-in-out forwards;
  animation-timeline: scroll();
  animation-range-start: 200px;
  animation-range-end: 400px;
}

@keyframes zoom-out {
  0% {
    scale: 100%;
  }
  100% {
    opacity: 0;
    scale: 200%;
    visibility: hidden;
  }
}

.--zoom-in {
  scale: 0%;
  animation: zoom-in 1.5s ease-in-out forwards;
}

.--zoom-in-scroll {
  scale: 0%;
  animation: zoom-in 5s ease-in-out forwards;
  animation-timeline: scroll();
  animation-range-start: 600px;
  animation-range-end: 1000px;
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    scale: 0%;
  }
  100% {
    opacity: 1;
    scale: 100%;
    visibility: visible;
  }
}

.slide-fade-enter-active {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  transition:
    transform 3s ease,
    opacity 3s ease;
}

.slide-fade-leave-active {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  position: absolute;
  transition:
    transform 2s ease,
    opacity 2s ease;
}

.slide-fade-enter-from {
  -webkit-transform: translate3d(-25vw, 0, 0);
  transform: translate3d(-25vw, 0, 0);
  opacity: 0;
}

.slide-fade-enter-to {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.slide-fade-leave-from {
  -webkit-transform: translateX(0, 0, 0);
  transform: translateX(0, 0, 0);
  opacity: 1;
}

.slide-fade-leave-to {
  position: absolute;
  -webkit-transform: translateX(25vw, 0, 0);
  transform: translateX(25vw, 0, 0);
  opacity: 0;
}

.slide-fade-inverted-enter-active {
  transition:
    transform 3s ease,
    opacity 3s ease;
}

.slide-fade-inverted-enter-from {
  -webkit-transform: translate3d(25vw, 0, 0);
  transform: translate3d(25vw, 0, 0);
  opacity: 0;
}

.slide-fade-inverted-enter-to {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

@keyframes infiniteScroll {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(calc(0px - 50%), 0, 0);
    transform: translate3d(calc(0px - 50%), 0, 0);
  }
}
.horizontal-scrolling-items {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  animation-name: infiniteScroll;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
