@import './base.css';
@import './animations.css';
@import './stripes.css';

#app {
  width: 100%;
  height: 100%;
}

/*houdini*/

/*base*/
:root {
  font-family: Inter, sans-serif;

  --stripe-color: #000;
  --bg: var(--stripe-color);
  --maincolor: var(--bg);
}
